<html>
	<head>
		<title>Github API Webapp using Nodejs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<div class="inner">
					<span class="icon major"></span>
					<h1>Hi, welcome to my Github API app.</h1>
					<p>Just enter a well known organisation to see which languages they use for
          their repositories.</p>
					<p>	</p>
						<form method="POST" action="/graph">
							<input class="button scrolly" type="text" name="org"/>
					<ul class="actions">
						<input type="submit" value="Discover"/>
					</form>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2></h2>
					</header>
					<p></p>
					<ul class="actions uniform">
						<li><a href="#" class="button special">Sign Up</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>
				</div>
			</section>
<% include partials/footer %>

		
