<!-- 
<h1>Enter Github Username</h1>
<form method="POST" action="/users/add">
  <label>Username:</label>
  <input type="text" name="username" />
  <input type="submit" value="Submit" />
</form>
<style> -->
